@import url("./variable.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--Light_gray);
}
.All_content_contaner{
    width: 100%;
    height:97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content_container{
    width: 65%;
    height: 80vh;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicators_contenr{
    width: 30%;
    height: 100%;
    background-image:url("./assets/images/bg-sidebar-desktop.svg");
    background-size:cover;
}
.input_fuld_container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_frame_container{
    width: 70%;
    height: 100%;
}
/* indicatiors */
.indicator-buttons-container{
    width: 90%;
    height: 80%;
    margin-top:30px;
    margin-left: 10px;
}

.indicator_list{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator_btn_container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator_info{
    width: 80%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap_info{
    width: 80%;
    height: 65%;
    pointer-events: none;
}
.indicator_main_btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid var(--Light_gray);
    color:var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:var(--heading_font);
    pointer-events: none;
}
.active_indicator{
    background-color: var(--Light_gray);
    color:var(--Marine_blue);
}
.info_top{
    width: 100%;
    height: max-content;
    color:var(--Light_gray);
    font-family: var(--heading_font);
    font-weight: 400;
}
.info_bottom{
    width: 100%;
    height: max-content;
    color:var(--White);
    font-family: var(--heading_font);
    font-weight: 500;
    text-transform:uppercase;
}
/* end indicators section */
/* start input container */
/* .step_1{
    display: none;
} */
.myForm{
    width: 100%;
    height: 100%;
    font-family: var(--heading_font);
    font-weight: 400;
}

.myForm2, .myForm2, .myForm3,.myForm4{
    width: 100%;
    height: 100%;
    font-family: var(--heading_font);
    font-weight: 400;
    display: none;
}
.input-heading{
    width: 100%;
    height: max-content;
    font-family: var(--heading_font);
    font-weight: 700;
    color:var(--Marine_blue)
}
.input-heading h1{
    padding-bottom:5px;
}
.input-titel{
    width: 100%;
    height: max-content;
    font-family: var(--heading_font);
    font-weight: 400;
    color:var(--Cool_gray)
}
.input_fuld_container_main{
    width: 100%;
    height: max-content;
}
/* inputs fuld */
.input_items{
    width: 100%;
    height: max-content;
}
.names_container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding-top:20px;
}
.all-input-3{
    width: 100%;
    height: 40px;
    padding:10px;
    border:1px solid var(--Light_gray);
    outline: none;
}
.all-input-3:focus{
    border:1px solid var(--Marine_blue_hover);
}
.next_button1{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.next_button2,.next_button3,.next_button4{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:440px) {
    .next_button1{
        width: 138%;
        height: 80px;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        bottom: -220px;
        background-color: white;
        left: -51px;
    }
    .next_button2, .next_button3, .next_button4{
        width: 138%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: -220px;
        background-color: white;
        left: -51px;
    }
}
.next_btn1{
    width: 110px;
    height: 42px;
    color:var(--White);
    background-color: var(--Marine_blue);
    border:none;
    outline: none;
    border-radius: 8px;
    margin-right:20px;
    cursor:pointer;
}
.next_btn2,.next_btn3{
    width: 110px;
    height: 42px;
    color:var(--White);
    background-color: var(--Marine_blue);
    border:none;
    outline: none;
    border-radius: 8px;
    cursor:pointer;
    margin-right:20px;
}
.next_btn4{
    width: 110px;
    height: 42px;
    color:var(--White);
    background-color: var(--Purplish_blue);
    border:none;
    outline: none;
    border-radius: 8px;
    cursor:pointer;
    margin-right:20px;
}
.next_btn1:hover{
    background-color: var(--Marine_blue_hover);
}
.next_btn4:hover{
    background-color: var(--Pastel_blue);
}
/* error massage */
.error_massage{
    color:var(--Strawberry_red);
}
/* error massage */

/* end step 1 */


/* start step 2  */
.radio_input{
    display: none;
}
.MM_yy_biling{
    width: 100%;
    height: max-content;
    display: flex;
    gap:15px;
    padding-top:18px;
}
.biling_card{
    width: 25%;
    height: 150px;
}
.card_main_box{
    width: 100%;
    height: max-content;
    border:1px solid var(--Cool_gray);
    border-radius:8px;
    padding:10px;
}
/* card functions  */
.card_main_box:hover{
    border:1px solid var(--Purplish_blue);
}
input[type="radio"]:checked + label .card_main_box{
    background-color: var(--Magnolia);
    border:1px solid var(--Purplish_blue);
}
/* card box content */
.biling-item-image{
    width: 100%;
    height: max-content;
    padding-bottom:50px;
}
.biling-item-name{
    width: 100%;
    height: max-content;
    font-family: var(--heading_font);
    font-weight: 700;
}
.biling-item-price{
    width: 100%;
    height: max-content;
    font-family: var(--heading_font);
    font-weight: 400;
    color:var(--Cool_gray);
}
/* month year price converter swich */
.selectM_Y{
    color: var(--Cool_gray);
    font-family: var(--heading_font);
    font-weight: 400;
}
.Monthly_main_text{
    color:var(--Marine_blue);
}
.M_Y_converter_swich{
    width: 95%;
    height: 50px;
    background-color:var(--Magnolia);
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.my_check_L2{
    display: none;
}
.toggle_box{
    width: 44px;
    height: 23px;
    background-color: var(--Marine_blue);
    border-radius:20px;
    cursor: pointer;
}
.toggle_box:before{
    position: absolute;
    content: "";
    height: 21px;
    width: 22px;
    background-color: var(--Alabaster);
    border-radius: 20px;
    margin-top:1px;
    transition: .3s;
}
input[type="checkbox"]:checked + label .toggle_box::before{
    transform: translateX(22px);
}
/* 2 month free */
.biling-item-free{
    color:var(--Marine_blue);
    font-family: var(--heading_font);
    font-weight: 500;
}
.only_price{
    display: flex;
    color:var(--Cool_gray);
}
/* end step 2 all */
/* prev button */
.prev_btn{
    border:none;
    outline: none;
    background-color: var(--White);
    color:var(--Cool_gray);
    cursor: pointer;
    font-family: var(--heading_font);
    font-weight: 700;
}
.prev_btn:hover{
    color:var(--Marine_blue);
    font-weight: 700;
}
/* start step 3 */
/* .setp_3{
    display: none;
} */
label{
    width: 100%;
    height: 50px;
}
.sarvive_box{
    width: 100%;
    height: 60px;
    /* background-color: var(--Magnolia); */
    border:1px solid var(--Cool_gray);
    margin-top:13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
.sarvive_box:hover{
    border:1px solid var(--Purplish_blue)
}
.check_box{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sarvice_name{
    width: 70%;
    height: 100%;
    font-family: var(--heading_font);
}
.sarvice_name_main{
    width: 100%;
    height: max-content;
    margin-top:10px;
    margin-left:8px;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--heading_font);
}
.sarvice_datail{
    width: 100%;
    height: max-content;
    margin-left:8px;
    font-family: var(--heading_font);
    font-weight: 400;
    color:var(--Cool_gray);
}
.sarvice_price{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start step 4 */
/* .setp_4{
    display: none;
} */
.final_dashbord{
    width: 100%;
    height:200px;
    background-color:var(--Magnolia);
    border-radius: 8px;
    margin-top:20px;
}
/* labal container  */
.L2_add_price{
    width: 100%;
    height: 50%;
    border-bottom:1px solid var(--Light_gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.L3_add_price{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end labal container */
.price_L2_name{
    width: 50%;
    height:100%;
}
.price_L2_name p{
    font-family: var(--heading_font);
    font-weight: 700;
    color:var(--Marine_blue);
    margin-left: 10px;
    margin-top:10px;
}
.price_L2_price{
    width: 50%;
    height:100%;
    display: flex;
    justify-content: end;
}
.price_L2_price p{
    font-family: var(--heading_font);
    font-weight: 500;
    color:var(--Marine_blue);
    margin-right: 10px;
    margin-top:10px;
}
.chenge_biling_total{
    width: 100%;
    height: max-content;
}
.chenge_biling_total a{
    color:var(--Cool_gray);
    margin-left:10px;
    font-family: var(--heading_font);
    font-weight: 500;
}
.chenge_biling_total a:hover{
    color:var(--Purplish_blue);
}

/* start labal 3 */

.L3_item_name{
    width: 50%;
    height: 100%;
}
.L3_item_price{
    width: 50%;
    height: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: end;
    padding-right:15px;
}
/* .L3_item_price p{
    margin-right:10px;
} */
.L3_item_name p{
    margin-left:10px;
}
.L3_last_select1, .L3_last_select2, .L3_last_select3{
    display: flex;
}
.price_L3_price{
    height: 60%;
    padding-right:15px;
    display: flex;
    justify-content:end;
}
/* total */
.total_container{
    width: 100%;
    height: max-content;
}
/* slide form */
/* end step 4 */

/* responsib all */
@media screen and (max-width:768px) {
    .main_content_container {
        width: 100%;
        height: 100%;
        flex-direction:column;
    }
    .indicators_contenr {
        width: 100%;
        height: 25%;
        background-image:url("./assets/images/bg-sidebar-mobile.svg");
        background-size:cover;
    }
    .indicator-buttons-container {
        width: 90%;
        height: 80%;
        margin-top: 30px;
        margin-left: 10px;
        display:flex;
    }
    .indicator_info {
        display:none;
    }
    .indicator_btn_container {
        width: 50%;
        height: 100%;
    }
    .indicator_main_btn {
        width: 50px;
        height: 43px;
    }
    .input_fuld_container {
        background-color: var(--Light_gray);
    }
    .form_frame_container {
        width: 85%;
        height: 100%;
        display:flex;
        justify-content: center;
        background-color: var(--White);
        position: relative;
        top:-65px;
        border-radius:30px;
    }
    .myForm, .myForm2, .myForm3, .myForm4{
        width: 85%;
        height: 100%;
        font-family: var(--heading_font);
        font-weight: 400;
        margin-top:20px;
    }
    /* step 2 */
    .MM_yy_biling {
        width: 100%;
        height: max-content;
        flex-direction: column;
    }
    .biling_card {
        width: 100%;
        height: max-content;
    }
    .card_main_box {
        width: 100%;
        height: 72px;
        display: flex;
    }
    .biling-item-image {
        width: 22%;
        height: max-content;
        padding-bottom: 50px;
    }
    .wrap_bill_info_labal{
        height: max-content;
        width: 70%;
    }
    /* step 3 */
    .sarvive_box {
        height: 72px;
    }
}
/* total*/
.total_container{
    width: 100%;
    height:30px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:0 8px;
    font-family: var(--heading_font);
    color:var(--Cool_gray);
}
.total_name{
    width: 50%;
    height: 100%;
    display: flex;
    align-items:center;
}
.Last_M_Y1,.Last_M_Y2,.Last_M_Y3{
    display: none;
}
.dolar_sign,.dolar_sign2,.dolar_sign3{
    display: none;
}
.total_amount_container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    font-size:1.1rem;
    color:var(--Pastel_blue);
    font-weight: bold;
}